;; Analyzed by ClojureScript 0.0-3178
{:name jamesmacaulay.zelkova.impl.time, :doc "Implementation details for `jamesmacaulay.zelkova.time`.", :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {now {:protocol-inline nil, :meta {:line 7, :column 7, :end-line 7, :end-column 10, :arglists (quote ([])), :file nil}, :name jamesmacaulay.zelkova.impl.time/now, :variadic false, :file "mario/jamesmacaulay/zelkova/impl/time.cljs", :end-column 10, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 7, :end-line 7, :max-fixed-arity 0, :fn-var true, :arglists (quote ([])), :test true}}}