;; Analyzed by ClojureScript 0.0-3178
{:name dominator.async, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {async cljs.core.async, cljs.core.async cljs.core.async}, :imports nil, :defs {send {:protocol-inline nil, :meta {:line 4, :column 7, :end-line 4, :end-column 11, :arglists (quote ([source v])), :doc "Returns an anonymous fn that puts the value v onto source every time\n  it's called.", :file nil}, :name dominator.async/send, :variadic false, :file "src/dominator/async.cljs", :end-column 11, :method-params ([source v]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 2, :fn-var true, :arglists (quote ([source v])), :doc "Returns an anonymous fn that puts the value v onto source every time\n  it's called.", :test true}}}